.Person{
    width: 40%;
    max-width: 500px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
    margin: 30px auto 0;
    box-shadow: 2px 2px 2px #000;
}
.Person *{
    display: block;
    margin: 15px auto;
}