.red{
    color: #f00;
}

.bold{
    font-weight: bold;
}


.Cockpit button{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #f00;
    font-weight: 600;
    font-size: 1.2em;
    margin: 20px;
    color: #fff;
    background: #f00;
    transition: all 0.25s;
}

.Cockpit button:hover{
    background: salmon;
    transform: scale(1.05);
}

.Cockpit button.clicked{
    background: rgb(30, 185, 30);
}
.Cockpit button.clicked:hover{
    background: lightgreen;
}