.App {
  text-align: center;
}

button{
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #f00;
    font-weight: 600;
    font-size: 1.2em;
    margin: 20px;
    color: #f00;
    background: #000;
}